@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/ClientsMaster.cshtml";
}


<div style="background-image:url(../Images/mmmmm.jpg);height:500px; width:100%; background-repeat: round;" class="img-responsive">


</div>
