@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/AdvocateMaster.cshtml";
}

<div style="background-image:url(../Images/ff.jpg);height:500px; width:100%; background-repeat: round;" class="img-responsive">


</div>
