@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div style="background-image:url(../Images/22799258-mallet-legal-code-and-scales-of-justice-law-concept-studio-shots.jpg);height:500px; width:100%; background-repeat: round;" class="img-responsive">


</div>

